@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ChuckSWWeb.Models.ChuckNorris.JokeCategories
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Jokes Categories</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Villa</a>
        </div>
    </div>

    <table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>

			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model.Category){
				<tr>
					<td td>@item</td>

					<td>


                                <button  asp-for="" type="button" class="btn savings-type-creation" onclick="getRandomJoke()" data-bs-toggle="modal" data-bs-target="#getRandomJokesModal">
                                    <img src=""> Get Random Joke
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="getRandomJokesModal" tabindex="-1" aria-labelledby="getRandomJokesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="getRandomJokesModalLabel">Random Joke</div>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="savings-type-setup-body">
                                                    <div class="savings-type-setup-top">
                                                        <form method="post" class="saving-type-validation" novalidate>
                                                            
                                                            <div class="mb-3">
                                                                <div class="row g-2">
                                                                    <div class="col-sm-12">
                                                                        <label for="exampleFormControlTextarea1" class="form-label">Joke</label>
                                                                        <textarea class="form-control textarea" id="stDesc" rows="5" readonly></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                                
                                                            
                                                        </form>
                                                    </div>
                                                    

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn close-random-joke" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>


						@*<a asp-controller="ChuckSW" asp-action="GetJokeCategories" asp-route-jokeId="@item" class="btn btn-success" ><i class="bi bi-pencil-square"></i></a>*@
					</td>
				</tr>
			}
		</tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>*@

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


@section Scripts{

    <script>


	function getRandomJoke(){
        debugger;
        $.ajax({
                url: "/chucksw/DisplayRandomJoke",
                type: "GET",
                success: function(response){
                    $('#stDesc').val(response.value)
                    console.log(response.value)

                }
                
        });    
    }

</script>

}

